.chatbotWrapper {
    min-height: 200px;

    min-width: 250px;

    aspect-ratio: 8 / 5;
}

@media (min-width: 992px) {
    .chatbotWrapper {
        /* aspect ratio enforces max height based on video player aspect ratio (for scrolling) */
        /* video takes up 2/3 of width space and is 16/9 ratio, */
        /* so chatbot should be half that width at 8/9 */
        aspect-ratio: 8 / 9;
    }
}
