.infoItem:hover {
    box-shadow: 0 .25rem .5rem rgba(0, 0, 0, .15) !important;
}

.timeInfo {
    display: none;
}

.time:hover {
    color: var(--bs-info)!important;
    cursor: pointer;
    text-decoration: underline;
    text-underline-offset: .1rem;

    .timeInfo {
        display: inline-block;
        animation-name: appear;
        animation-duration: .1s;
        animation-timing-function: ease-in-out;
    }
}


@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}
