.tabs {
    background-color: 
        color(from var(--bs-tertiary-bg) srgb 
            calc(r * 0.9) 
            calc(g * 0.9) 
            calc(b * 0.9)); 

    display: flex;
    gap: 0;
    border-radius: 10px;
    overflow: hidden;
}

/* nav container */
.tabs:global(.nav-pills) {
    --bs-nav-pills-link-active-bg: var(--color-secondary);
    --bs-nav-pills-link-active-color: white;
}
/* nav item | button (link) container */
.navItem{
    /* background-color: var(--color-primary); */
    flex: 1;
}
/* nav Item button/link */
.tabs :global(.nav-link) {
    color: var(--color-primary);
    font-weight: bold;
}
.tabs :global(.nav-link:hover) {
    background-color: var(--color-secondary-light);
    color: black;
}


/* .navLink{
    background-color: none;
    border: 1px solid black;
}
.navItem button{
    background-color: var(--color-primary);
    color: white;
}
.navItem button.active {
    background-color: var(--color-secondary);
} */

/* hi */