.spinner {
    width: 100%;
    max-width: 300px;
    max-height: 300px;

    animation: loading-spin 0.75s linear;
    animation-iteration-count: infinite;
}

@keyframes loading-spin {
    25% {
        rotate: 90deg;
    }
    50% {
        rotate: 220deg;
    }
    75% {
        rotate: 300deg;
    }

    100% {
        rotate: 360deg;
    }
}
